{% extends "DAOTicketingBundle::layout.html.twig" %}

{% block daoticketing_body %}

  <div class="well3">
    <p>Vous allez faire un paiement pour un montant de {{total}} €</p>
    <h3> Merci de saisir vos informations de paiement :</h3>

    <form action="{{ path('dao_ticketing_payment', {'id': ticket.id}) }}" method="POST">
      <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
        data-key="pk_test_tFaJp3msiY8IK0kcRFOWZblS"
        data-amount="{{ total*100 }}"
        data-name="AnhDao"
        data-description="Example charge"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="eur">
      </script>
      <script>
        // Hide default stripe button, be careful there if you
        // have more than 1 button of that class
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
        </script>
        <button type="submit" class="yourCustomClass btn btn-info">Payer par carte</button>
    </form>

    </br>
    <a href="{{ path('dao_ticketing_deleteTicket', {'id': ticket.id}) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Annuler la transaction</a>
    </br>
  </div>
{% endblock %}

