/*-----for border----*/
.well{
	font-family:Roboto,sans-serif;
	  background-color : grey;
    
     border-style: 1px solid grey;
     margin: 0 auto;
     text-align: center;
     opacity: 0.8;
     margin-top: 67px;
     box-shadow: 2px 5px 5px 0px #eee;
     max-width: 80%;
     padding-top: 10px;
     height: 180px;
     margin-top: 20px;
}

.well1{
     font-family:Roboto,sans-serif;
     background-color : grey;
    
     border-style: 1px solid grey;
     margin: 0 auto;
     text-align: center;
     opacity: 0.8;
     margin-top: 67px;
     box-shadow: 2px 5px 5px 0px #eee;
     max-width: 90%;
     padding-top: 10px;
     height: 200px;
     margin-top: 20px;
}

.well2{
     font-family:Roboto,sans-serif;
     background-color : white;
    
     border-style: 1px solid grey;
     margin: 20px auto;
     
     opacity: 0.8;
     box-shadow: 2px 5px 5px 0px #eee;
     max-width: 80%;
     padding-top: 10px;
     height: 270px;
     margin-top: 20px;
     padding-left: 50px;
}

.well3{
     font-family:Roboto,sans-serif;
     background-color : white;
    
     border-style: 1px solid grey;
     margin: 20px auto;
     
     opacity: 0.8;
     box-shadow: 2px 5px 5px 0px #eee;
     max-width: 80%;
     padding-top: 10px;
     height: 140px;
     margin-top: 20px;
     padding-left: 50px;
}

.well4{
     font-family:Roboto,sans-serif;
       background-color : white;
    
     border-style: 1px solid grey;
     margin: 0 auto;
     text-align: center;
     opacity: 0.8;
     margin-top: 67px;
     box-shadow: 2px 5px 5px 0px #eee;
     max-width: 80%;
     padding-top: 10px;
     height: 240px;
     margin-top: 20px;
}

.form-group{
	height: 10px;
}

h1{
	font-size: 100px;
}

body{
	background-color: #DEE8E7;
}

#images{
	background-color: #DEE8E7;
}

.form-control{
width: 90%;
}
