{# src/DAO/TicketingBundle/Resources/views/Ticket/dating.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Billeterie du Louvre</title>
  </head>
  <body>
    <img src = "logoLouvre.jpg" alt = "logo"/>
    <h1>Billeterie du Louvre</h1>



{% block daoticketing_body %}

  <h2>Choisissez votre date de visite et le nombre de billet :</h2>

  {{ include("DAOTicketingBundle:Ticket:form.html.twig") }}



  
  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.Suivant, {'attr': {'class': 'btn btn-primary'}}) }}
  
 
  



{% endblock %}
