{# src/DAO/TicketingBundle/Resources/views/Ticket/dating.html.twig #}

{% extends "DAOTicketingBundle::layout.html.twig" %}

{% block daoticketing_body %}

{% for message in app.flashes('error') %}
    <div class="alert alert-error">
        {{ message }}
    </div>
{% endfor %}

  <h2>Choisissez votre date de visite et le nombre de billet :</h2>

  {{ include("DAOTicketingBundle:Ticket:form.html.twig") }}

  {{ form_widget(form.Suivant, {'attr': {'class': 'btn btn-primary'}}) }}

{% endblock %}

