{# src/DAO/TicketingBundle/Resources/views/Ticket/index.html.twig #}

{% extends "DAOTicketingBundle::layout.html.twig" %}

{% block daoticketing_body %}
  
  <div class="well">


  <p> Bienvenue sur le site de la billeterie en ligne du musée du Louvre, pour continuer cliquer sur le bouton suivant : </p>
  </br>
  </br>
  </br>
  <a href="{{ path('dao_ticketing_date') }}" class="btn btn-info">
    Suivant
  </a>
  </div>
{% endblock %}


