{# src/DAO/TicketingBundle/Resources/views/Ticket/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Billeterie du Louvre</title>
  </head>
  <body>
    <h1>Billeterie du Louvre</h1>

  </body>
</html>
