{# src/DAO/TicketingBundle/Resources/views/Ticket/register.html.twig #}

{% extends "DAOTicketingBundle::layout.html.twig" %}

{% block daoticketing_body %}
  
    <h2>Veuillez renseigner les informations des visiteurs :</h2>
    Commande en cours pour : {{ ticket.mailVisiteur }}

    {{ include("DAOTicketingBundle:Ticket:form1.html.twig") }}

{% endblock %}


