{# src/DAO/TicketingBundle/Resources/views/Ticket/register.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Billeterie du Louvre</title>
  </head>
  <body>
    <img src = "logoLouvre.jpg" alt = "logo"/>
    <h1>Billeterie du Louvre</h1>



{% block daoticketing_body %}

  Commande en cours pour : {{ mailVisiteur }}

  <h2>Veuillez renseigner les informations des visiteurs :</h2>


 {% for i in 1..nbTickets %}
  
  Visiteur {{ loop.index }} sur {{ loop.length }} : 
 {{ include("DAOTicketingBundle:Ticket:form1.html.twig") }}
  
{% endfor%}




{% endblock %}
